<span class="kind">
  <%=h contact.kind %>
</span>
<span class="text">
  <%= contact.text %>
</span>
<% admin_area do -%>
  <span class="controls">
    <span class="handle">Move</span>
    <%= link_to 'Show', contact, :class => 'control show' %>
    <%= link_to 'Edit', edit_contact_path(contact), :class => 'control edit' %>
    <%= link_to 'Destroy', contact, :confirm => 'Are you sure?',
                :method => :delete, :class => 'control destroy' %>
  </span>
<% end -%>
