<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Text</th>
    <th>Rank</th>
  </tr>

<% for contact in @contacts %>
  <tr>
    <td><%=h contact.type %></td>
    <td><%=h contact.text %></td>
    <td><%=h contact.rank %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact', new_contact_path %>
