<div>
  <%= heading item %>
  <div class="controls">
    <div>
      <%= link_to 'show', item, :class => 'control show' %>
      <%= link_to 'New child', new_item_item_path(item),
                  :class => 'control new' %>
      <%= link_to 'Edit', edit_item_path(item), :class => 'control edit' %>
      <%= link_to 'Destroy', item, :class => 'control destroy' -%>
    </div>
  </div>
  <div><%= textilize item.content %></div>
</div>
<div>
  <ul class="items">
    <% for child in item.children -%>
      <li class="rank_<%= item.rank %>">
      <%= render :partial => child %>
      </li>
    <% end -%>
  </ul>
</div>

