<div>
  <%= heading item %>
  <% admin_area do -%>
    <div class="controls">
      <div>
        <span class="handle">Move</span>
        <%= link_to 'show', item, :class => 'control show' %>
        <%= link_to 'New child', new_item_item_path(item),
                    :class => 'control new' %>
        <%= link_to 'Edit', edit_item_path(item), :class => 'control edit' %>
        <%= link_to 'Destroy', item, :class => 'control destroy' -%>
      </div>
    </div>
  <% end -%>
  <div><%= textilize item.content %></div>
</div>
<div>
  <ul class="items level_<%= item.level %>">
    <% for child in item.children -%>
      <li class="rank_<%= child.rank %>">
      <%= render :partial => child %>
      </li>
    <% end -%>
  </ul>
</div>
<%= link_to "Pictures", item_pictures_path(@item) %>
