<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @item.content %>
</p>

<p>
  <b>Parent:</b>
  <%=h @item.parent %>
</p>

<p>
  <b>Rank:</b>
  <%=h @item.rank %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
