<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Resume</title>
  <%= stylesheet_link_tag "front" %>
  <%= stylesheet_link_tag "back" %>
  <%= javascript_include_tag :defaults %>
  <% admin_area do -%>
    <%= javascript_include_tag 'admin.js' %>
  <% end -%>
<% if protect_against_forgery? -%>
    <script type='text/javascript'>
    //<![CDATA[
      window._auth_token_name = "<%= request_forgery_protection_token %>";
      window._auth_token = "<%= form_authenticity_token %>";
    //]]>
    </script>
<% end -%>
</head>
<body>


  <%= yield  %>

  <%
=begin
This is a workaround for jQuery 1.2.6 in jRails, it seems body's immediate
children can't be found with a context. FIXME when the bug is (hopefully) fixed.
=end
  -%>
  <div>
    <p class="notice"><%= flash[:notice] %></p>
  </div>
</body>
</html>
